/**
 * Global Colours needed throught the site.
 */

$black: #000 !default;
$white: #fff !default;
$light-grey: #e0e1dd !default;
$cool-grey: #babbbd !default;
$greyish-brown: #6e6a41 !default;
$slate: #465668 !default;
$dark-beige: #b19c5e !default;
$cocoa: #7e4c3c !default;