<nav class="main stickyNavBar" role="banner">
    <div class="inner">
        <x-logo><a href="/">logo</a></x-logo>
        <a class="" href="/">Menu1</a>
        <a class="" href="/">Menu2</a>
        <a class="">Menu3</a>
    </div>
</nav>