<nav class="sub-nav" role="navigation">
    <ul>
        <li><a href="#">SubMenu 1</a></li>
        <li><a href="#">SubMenu 2</a></li>
        <li><a href="#">SubMenu 3</a></li>
        <li><a href="#">SubMenu 4</a></li>
    </ul>
</nav>